.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 16px;
}

/* header{} */

.header__container{
    display: flex;
    align-items: center;
    gap: 512px;
}

.logo{
    width: 160px;
    height: 41px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 28px;
    list-style: none;
}

.header__item{
    margin: 0;
}

.header__silka{
    color: rgb(31, 21, 52);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: -1px;
    opacity: 0.5;
    text-decoration: none;
}

.active{
    opacity: 1;
}